html{
	min-height: 100%;
}

body{
	margin-bottom: 100px;
}

header{
	margin: 2% 0;
	padding-bottom: 2%;
	display: inline;
}

header h1.page-title{	
	float: left;
	width: 50%;
	margin: 2% 0;	
}

.main-menu{
	list-style: none;
}

header nav.main-menu{
	float: right;
	width: 40%;
	margin: 2% 0;
	text-align: right;
}

nav.main-menu li{
	display: inline-block;
	padding-left: 1%;
	padding-right: 1%;
}

nav.main-menu li:not(:first-child){
	border-left: 1px solid black;
}

section.sub{	
	float: left;
}

img{
	width: 100%;
}

main{
	display: inline-block;
	flex: 1;
}

.sub{
	margin: 2%;
}

.sub-left{
	width: 35%;	
}

.sub-center, .sub-right{
	width: 25%;
}

footer{
	text-align: center;
	border-top: 2px solid black;
	background: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

footer p{
	font-size: small;
}
