header{
	margin: 2% 0;
	padding-bottom: 2%;
	display: inline;
}

header h1.page-title{
	float: left;
	width: 50%;
	margin: 2% 0;
}

.main-menu{
	list-style: none;
}

header nav.main-menu{
	float: right;
	width: 40%;
	margin: 2% 0;
	text-align: right;
}

nav.main-menu li{
	display: inline-block;
	padding-left: 1%;
	padding-right: 1%;
}

nav.main-menu li:not(:first-child){
	border-left: 1px solid black;
}

img{
	width: 100%;
}

main{
	display: inline-block;
}

section.sub{
	float: left;
	margin: 2%;
}

section.sub-left{
	width: 35%;
}

section.sub-center, .sub-right{
	width: 25%;
}

@media (max-width: 800px) {
	body, section.sub{
		width: 100%;
	}

	header h1.page-title{
		width: 100%;
		text-align: center;
	}

	header nav.main-menu{
		width: 100%;
		clear: both;
		text-align: center;
		margin: 0;
	}

	nav.main-menu ul{
		padding-left: 0;
	}

	nav.main-menu li{
		display: inherit;
		background: lightgrey;
		padding: 1%;
	}
	nav.main-menu li.active{
		background: #767777;
	}

	nav.main-menu li:not(:first-child){
		border-left: none;
	}

	.sub-left, .sub-center, .sub-right{
		width: 100%;
	}

	footer nav.main-menu{
		display: none;
	}
}
