body{
	margin: 0 1%;
}

h3{
	color: #42b9f4;
}

h4{
	color: #3fe29c;
}

h5{
	color: #c10026;
}

nav ul li{
	list-style: none;
}

nav ul li a.active{
	color: black;
	text-decoration: none;
}

article.alert{
	border: 1px solid black;
	background: #e0dc8d;
	margin-bottom: 1%;	
	padding-left: 1%;
	padding-right: 1%;
}

span.text-red{
	color: red;
}